@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --black: #1a1b1d;
  --gradient: -webkit-linear-gradient(338deg, rgba(10,129,209,1) 13%, rgba(6,214,160,1) 67%);
  --blue: #0a81d1;
  --green: #06d6a0;
  --grey: #b5ccdb;
  --greyGradient: -webkit-linear-gradient(90deg, rgba(193,220,238,0) 0%, rgba(193,220,238,1) 20%, rgba(193,220,238,1) 80%, rgba(220,238,250,0) 100%);
  --navGradient: -webkit-linear-gradient(270deg, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0)  100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: var(--black);
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
}

button:focus {outline:0;}

p {
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 500;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
  font-weight: 500;
  color: var(--black);
  letter-spacing: 0.3rem;
  line-height: 1.4;
  
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--black);
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--black);
  line-height: 1.6;
}

